# Configuración de Servidor
PORT=8000

# Base de Datos - SQL Server (MSSQL)
# Reemplace 'YourPassword' con su contraseña real de SA y localhost con el host correcto si es remoto
DATABASE_URL="sqlserver://localhost:1433;database=FacturaProRD;user=SA;password=YourPassword;encrypt=true;trustServerCertificate=true;"

# Configuración JWT
SECRET_KEY="desarrollo_clave_secreta_local_para_node"

# Configuración de Alanube
ALANUBE_API_URL="https://sandbox.alanube.co/dom/v1/"
ALANUBE_TOKEN="TU_TOKEN_DE_ALANUBE_AQUI"

# Configuración de GAE (Signature)
GAE_API_URL="https://fe.gaedigital.com/SignatureServices/api/"
GAE_API_KEY="TU_API_KEY_DE_GAE_AQUI"
